

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/styles.css">




<div>
    <a href="https://wa.me/16478896286" target="blank">
        <img src='/images/whatsapp.svg' width="40px" class="whatsapp">
    </a>

</div>

<div class="container-fluid">

    <div class="container-fluid calculator">
        <!-- <div class="bg-secondary"> -->
            <h1>Instant Calculator</h1>
            <form class="form-floating" action="" method='POST' id='form-data'>

                <div class="row g-0 bg-secondary step step-1 active  ">
                    <div class="col-md-3 ">
                        <div class="form-floating ">
                        <input type='text' id='from'  placeholder="From" class='form-control' name='from' value="" required>
                       <label class="fw-bold fs-5" id='details' for="floatingInputGrid"> Select Direction</label>
                    </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-floating">
                            <input type="text" id='to'  placeholder="Destination" class="form-control"  name='to' value="">
                            <label class="fw-bold fs-5" for="floatingInputGrid">Drop off Destination</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating">
                            <select class="form-select" id="people" name='people' aria-label="Floating label select example">
                                <option selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                            </select>
                            <label class="fw-bold fs-5" for="floatingSelectGrid">People</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating">
                            <select class="form-select" id="bags" name='bags' aria-label="Floating label select example">
                                <option selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
    
                            </select>
                            <label class="fw-bold fs-5" for="floatingSelectGrid">Bags</label>
                        </div>
    
                    </div>
    
    <div class="col-md-2 dropdown">
        
  
        <a class="btn btn-light btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            Select Limo Type
        </a>

       
    
        
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
         <select id='social' name='limo' style='width: 300px;'>
            <option value="sedan">Sedan</option>
            <option value="SUV">SUV</option>
            <option value="largeSUV">Large SUV</option>
            <option value="van">Van</option>
            <option value="largevan">Large Van</option>
        </select>
    </ul>
    <button type='button' class='btn btn-info next'>Next</button>
            <!-- <input class='btn btn-info' name='SubmitButton' type='submit' value='submit'> -->

    
        </div>
        </div>
         
        <div class="row g-1 step step-2">
             <div class="col-md-3">
                 <label for='name' > Name</label>
                 <input type='text' id='name' name='name'>
                </div>
                <div class="col-md-3">
                    <label for='email'>Email</label>
                    <input type='text' id='email' name='email'>
                    
                </div>
                <div class="col-md-3">
                    <label for='phone'>Phone</label>
                    <input type='number' id='phone' name='phone'>
                
                </div>
                <div class="col-md-3">
                    <button type='button' class='btn btn-warning prev'>Prev</button>
                    <button type='button' class='btn btn-info next'>Next</button>

                </div>
               
         </div>
         
         <div class=" row g-1 step step-3 ">
             <div class="col-md-3">
                 <label for='payment'>Card Info</label>
                 <input type='number' id='card' name='card'>
             </div>
            <div class="col-md-3">
                <label for='date'>pickup date</label>
                <input type='text' id='date' name='date'>
            </div>
            <div class="col-md-3">

                <button type='button' class='btn btn-warning prev'>Prev</button>
                <button type='submit' class='btn btn-success submit'>Book </button>

            </div>
           
         </div>



        </div>
        </form>
         
         <!-- </div> -->
        </div>
    
    <!--slides  -->
    
    <div class="container-fluid covers">
    
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="/images/limo24.jpg" class="d-block h-100 " alt="...">
                </div>
                <div class="carousel-item">
                    <img class='img-fluid' src="/images/limo28.jpg" class="d-block h-100 " alt="...">
                </div>
                <div class="carousel-item">
                    <img class='img-fluid' src="/images/limo26.jpg" class="d-block h-100 " alt="...">
                </div>
            </div>
        </div>
    </div>
    

    
    <div class="container-fluid  ">
    <div class="heading">
    <h3 class=" fw-bold text-center text-white text-uppercase">Welcome To Limousine Tours</h3>
    </div>
    <div class="card bg-dark text-white">
    <img src="/images/promise8.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
    <h3 class="card-title  text-uppercase text-center ">Our Promise</h3>
    <p class="card-text text-white text-center fs-6 promise">
    LimoTours is committed to providing you with an unforgettable limousine experience.
    We dedicate ourselves in managing our limo fleet and team of professional chauffeurs to support you with
    the best traveling experience throughout
    the Greater Toronto and Surrounding areas.
    </p>
    </div>
    </div>
    
    <!-- Services -->
        <div>
            <h3 class="text-center text-uppercase ">Who <strong class="time">We</strong> Are</h3>
            <p class="text-center fs-6 ">Our Service Specializes in: </p>
        </div>
          <div class="card bg-dark text-white pt-5">
            <img src="/images/whoweare.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <hr>
                <h3 class="card-text time text-center ">
                    Always On Time</h3>
                <p class=" card-text text-white text-center  ">
                    "Your driver always arrives early and
                    up arrival you will get a text message
                    notifying you that your driver has arrived
                    and you can also track your driver."</p>
                <hr>
                <h3 class="card-text time text-center   ">
                    Hassle Free </h3>
                <p class=" card-text text-white text-center  ">
                    "We offer hassle free service either you are going
                    to the airport or being picked up from the airport or
                    any We track and
                    monitor all flights for any arrival related changes"
                </p>
                <hr>
                <h3 class="card-text time text-center   ">
                    Affordable </h3>
                <p class="card-text text-white text-center">
                    "We offer the most competitive and affordable prices in the market.
                    Our service quality exceeds when compared to any
                    other similar service providers."
                </p>
                <hr>
            </div>
        </div>
    </div>

    <!-- meet and greet and child seat -->

    <div class="container-fluid">
        <h3 class="text-center fw-bold ">Torronto Airport Pickup Procedure</h3>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card   h-100">
                    <img src="/images/meetAndGreet.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Toronto Airport Meet & Greet</h5>
                        <p class="card-text text-center">We offer the exclusive meet and Greet services to facilitate you passage through the airport</p>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/childseat.jpg" class="card-img-top" alt="..." width="640px" height="426px">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Child Car Seat</h5>
                        <p class="card-text text-center">Safety and quality is a  priority to all our clients especially the little ones</p>
                    </div>
                   
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/pickup.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pickup Procedure</h5>
                        <p class="card-text text-center">
                            <li>Clear Customs</li>
                            <li>Pick-up Luggage</li>
                            <li>Go to security person at the Pre-arranged Stand</li>
                            </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- corporate limo service -->

    <div class="container-fluid">

        <h3 class="text-center fw-bold "> Corporate Limo Service</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card text-dark bg-light h-100">
                  
                    <div class="card-body">
                        <h5 class="card-title text-center text-warning  text-uppercase">Corporate Limo Service</h5>
                        
                            <div class="spinner-grow spinner-grow-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                               
                            </div>
                            <p class="fw-light text-center fst-italic " >Toronto Pearson Executive Limousine Service Pickup</p>
                     
                            <p class="fw-light text-center fst-italic ">VIP Meet & Greet, Child Car Seats</p>
                            <p class="fw-light text-center fst-italic ">Road Shows Shuttle Limo Transfers</p>
                            <p class="fw-light text-center fst-italic ">Executive Transportation Meeting & Seminar Limo Transportation</p>
                            <p class="fw-light text-center fst-italic ">Out of town Limo Service</p>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light h-100">
                    
                    <div class="card-body">
                        <h5 class="card-title text-center text-uppercase text-warning">BUSINESS TRIP LIMO</h5>
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        
                        </div>
                        <p class="fw-light text-center fst-italic ">Corporate Limo Transfer</p>
                        <p class="fw-light text-center fst-italic ">Toronto Luxury Executive Limo Shuttle Bus for Events</p>
                        <p class="fw-light text-center fst-italic ">Casino Rama Executive Limo Hourly Transfer</p>

                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light h-100">
          
                    <div class="card-body">
                        <h5 class="card-title text-center text-uppercase text-warning">NIAGARA FALLS TOURS</h5>
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        
                        </div>
                        <ul>
                        <p class="fw-light text-center fst-italic">Niagara Falls Limousine Winery Tour</p>
                        <p class="fw-light text-center fst-italic ">Niagara Falls corporate Limousine Day Tour</p>
                        <p class="fw-light text-center fst-italic">Niagara-on-the-Lake Executive Limousine Tour</p>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid row ">
         <h3 class="text-center fw-bold">Our Fleet</h3>

        <% limos.forEach(limo=> { %>
        
            <div class="card col-md" >
                <a href="/limos/<%= limo.id %>">
        
                    <img src="<%= limo.coverImagePath %>"  class="card-img" alt="...">
                </a>
        
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">
                        <%= limo.title %>
                    </h5>
                    <!-- <p class="card-text ">
                 <h6 class="text-center">Price Per Hour: <%= limo.pricePerHour %>$</h6>
                    <h6 class="text-center">Price Per Day: <%= limo.pricePerDay %>$</h6>
                    <h6 class="text-center">Airport Transfer: <%= limo.airportTransfer %>$</h6>
                    </p> -->
                   
                </div>
            </div>
        
            <% }) %>

    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src='../javascripts/main.js'></script>

<!-- icon select script -->


<!-- form data script -->
<script>
    const contactForm = document.getElementById('form-data');
    let origin = document.getElementById('from');
    let destination = document.getElementById('to');
    let passengers = document.getElementById('people');
    let luggage = document.getElementById('bags');
    let limoType =  document.getElementById('social');
    let fullName = document.getElementById('name');
    let email = document.getElementById('email');
    let phone = document.getElementById('phone');
    let cardInfo = document.getElementById('card');
    let picupDate = document.getElementById('date') 
    
    contactForm.addEventListener('submit', (e)=> {
        e.preventDefault();

        let formData= {
            origin: origin.value,
            destination: destination.value,
            passengers:passengers.value,
            luggage: luggage.value,
            limoType: limoType.value,
            fullName: fullName.value,
            email: email.value,
            phone:phone.value,
            cardInfo:cardInfo.value,
            pickupDate: picupDate.value

        }
        console.log(formData);

        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function(){
            console.log(xhr.responseText)

            if(xhr.responseText == 'success'){
                alert('email sent');
                origin.value = '';
                destination.value = '' ;
                passengers.value = '';
                luggage.value ='';
                limoType.value = '';
                fullName.value = '';
                email.value = '';
                phone.value = '';
                cardInfo.value = '';
                picupDate.value = '';
            } else{
                alert('something went wrong')
            }
        }
        xhr.send(JSON.stringify(formData))
    })


</script>


<!-- select script -->
<script>
    $(document).ready(function () {
        $("#social").select2({
            templateResult: formatOptions
        });
    });

    function formatOptions(state) {
        if (!state.id) { return state.text; }
        var $state = $(
            '<span ><img sytle="display:block;" src="images/' + state.element.value.toLowerCase() + '.jpg" /> ' + state.text + '</span>'
        );
        return $state;
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- maps script -->
<script>
    let autocomplete;
    function initAutocomplete() {

        var options = {
            types: ["establishment", "geocode"],
            componentRestrictions: { 'country': ['CA'] },
            fields: ['place_id', 'geometry', 'name']
        }

        var input1 = document.getElementById('from');
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options)

        var input2 = document.getElementById('to');
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options)


       
    }


</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPVTJqtbtQxwLaBcdwGIv56MuSSJqXXoY&libraries=places&callback=initAutocomplete">
</script>













<!-- <div class="container">
<h1 class="text-center pt-5">Our vehicles</h1>
<% limos.forEach(limo=> { %>
    
    <div class="card vehicles" style="width: 18rem;">
        <img src="<%= limo.coverImagePath %>" height='200' width='400' class="card-img float-left" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <%= limo.title %>
            </h5>   
        </div>
    </div>
    <% }) %>

</div> -->
